<!DOCTYPE html/>
<html>
	<div id="wrapper">	
		<head>
			<link rel="stylesheet" type="text/css" href="styles.css"/>
			<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

			<!-- Add jQuery library -->
			<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

			<!-- Add fancyBox -->
			<link rel="stylesheet" href="fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
			<script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

			<title>BTM Productions</title>
		</head>
		
		<body>

			<div class="title">
				<p>beneath the marquee productions <span class="CR">&copy;</span></p>
			</div>

			<nav id="nav1">
				<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="personal.html">About Me</a></li>
						<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>	

			<nav id="nav2">
				<ul>
						<li><a href="https://www.facebook.com/BeneathTheMarquee" target="_"><img src="IMG/facebook.png"></a></li>
						<li><a href="https://twitter.com/" target="_"><img src="IMG/twitter.png"></a></li>
						<li><a href="http://vimeo.com/user21140048" target="_"><img src="IMG/vimeo.png"></a></li>
				</ul>
			</nav>	
		
			<p id="top"></p>


			<div id="gallery1">
				<p>Gallery One</p>

				<a class="fancybox" rel="group" href="IMG/gal1.jpg"><img src="IMG/gal1.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal2.jpg"><img src="IMG/gal2.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal3.jpg"><img src="IMG/gal3.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal4.jpg"><img src="IMG/gal4.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal5.jpg"><img src="IMG/gal5.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal6.jpg"><img src="IMG/gal6.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal7.jpg"><img src="IMG/gal7.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal8.jpg"><img src="IMG/gal8.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal9.jpg"><img src="IMG/gal9.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal10.jpg"><img src="IMG/gal10.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal11.jpg"><img src="IMG/gal11.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal12.jpg"><img src="IMG/gal12.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal13.jpg"><img src="IMG/gal13.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal14.jpg"><img src="IMG/gal14.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal15.jpg"><img src="IMG/gal15.jpg"></a>

		</div>

		<div id="gallery2">
				<p>Gallery Two</p>	
				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal16.jpg"><img src="IMG/gal16.jpg"></a>

		</div>		

		<div id="gallery3">

				<p>Gallery Three</p>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

				<a class="fancybox" rel="group" href="IMG/gal17.jpg"><img src="IMG/gal17.jpg"></a>

		</div>		
<script type="text/javascript" src="script.js"></script>
	</body>
</html>