<!DOCTYPE html/>
<html>
	<div id="wrapper">	
		<head>
			<link rel="stylesheet" type="text/css" href="styles.css"/>
			<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

			<script type="text/javascript" src="script.js"></script>

			<!-- Add jQuery library -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

		<!-- Add fancyBox -->
		<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
		<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>


			<title>BTM Productions</title>
		</head>

		<body>
			<nav id="nav2">
				<ul>
						<li><a href="https://www.facebook.com/BeneathTheMarquee" target="_"><img src="IMG/facebook.png"></a></li>
						<li><a href="https://twitter.com/" target="_"><img src="IMG/twitter.png"></a></li>
						<li><a href="http://vimeo.com/user21140048" target="_"><img src="IMG/vimeo.png"></a></li>
				</ul>
			</nav>	

			<div class="title">
				<p>beneath the marquee productions <span class="CR">&copy;</span></p>
			</div>

			<nav id="nav1">
				<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>	

			
		
			<p id="top"></p>

			<div class="menubar">
			
				<a href="index.html"><img src="IMG/dsc9321.jpg" alt= "Professional"></a>
				<a href="gallery.html"><img src="IMG/btm4710.jpg" alt= "Travel"></a>
				<a href="personal.html"><img src="IMG/btm2564.jpg" alt="Personal"></a>
						
			</div>

			<div class="pages">
			
				<div id="page1">Professional
				</div>
				<div id="page2">
					Travel
				</div>
				<div id="page2">
					Personal
				</div>
		</div>	

			



			<p class="footer">btm productions <span class="CR">&copy;</span> </p>
		</body>	
	</div>	
</html>